<thead>
    <tr>
        <th>Назва</th>
        <th>Кількість</th>
        <th>Ціна</th>
        <th>Сума</th>
    </tr>
</thead>
<tbody>
    @foreach (var d in Model.DishOrders)
    {
        <tr>
            <td>@d.Dish?.Name</td>
            <td>@d.Quantity</td>
            <td>@(d.Dish?.Price?.ToString("0.00"))</td>
            <td>@(((d.Dish?.Price ?? 0) * d.Quantity).ToString("0.00"))</td>
        </tr>
    }
</tbody>
