@model RestaurantDomain.Model.Table
@{
    ViewData["Title"] = "Table Details";
}
<div class="menu-header">
    <h2>🔎 Table Details</h2>
</div>
<div class="card bg-white p-4">
    <dl class="row">
        <dt class="col-sm-3">Number</dt>
        <dd class="col-sm-9">@Model.Number</dd>
    </dl>
</div>
<a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
<a asp-action="Index" class="btn btn-secondary">Back</a>